* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    background-color: var(--dark-bg);
    color: var(--text-main);
    font-family: var(--font-stack);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main { flex: 1; } /* Aby patička byla vždy dole */

a { text-decoration: none; color: inherit; transition: 0.3s; }
ul { list-style: none; }
img { max-width: 100%; display: block; height: auto; }

h1, h2, h3 { font-weight: 700; text-transform: uppercase; margin-bottom: 1rem; }
h1 { color: var(--primary); font-size: 2.5rem; }